In [2]:
def execSQL(sql, conn, write=False):
    c = conn.cursor()
    print(c.execute(sql))
    if write:
        conn.commit()
    else:
        print(c.fetchall())
    c.close()

In [2]:
requete = "SELECT idPooler, COUNT(Event) AS NbPTS FROM PBP INNER JOIN ALIGNEMENTS ON (PBP.p1_ID = ALIGNEMENTS.idNHL) OR (PBP.p2_ID = ALIGNEMENTS.idNHL) OR (PBP.p3_ID = ALIGNEMENTS.idNHL) WHERE EVENT = 'GOAL' AND statutJoueur = 'Alignement' AND PBP.Date > ALIGNEMENTS.dateDebut AND PBP.Date <= ALIGNEMENTS.dateFin GROUP BY idPooler"
conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')
dftest = pd.read_sql(requete, conn)
dftest.to_sql('majScore', conn, if_exists='replace')
dftest

  idPooler  NbPTS
0      cle     26
1      hub     17

In [ ]:
import sqlite3

def updateSqliteTable(id, salary):
    try:
        conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')
        cursor = conn.cursor()
        print("Connected to SQLite")

        sql_update_query = """Update POOLERS set Score = ? where id = ?"""
        data = (salary, id)
        cursor.execute(sql_update_query, data)
        sqliteConnection.commit()
        print("Record Updated successfully")
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to update sqlite table", error)
    finally:
        if (sqliteConnection):
            sqliteConnection.close()
            print("The sqlite connection is closed")

updateSqliteTable(3, 7500)