In [2]:
conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')
dfAlignements = pd.read_sql("SELECT * FROM ALIGNEMENTS", conn)
dfAlignements

,idAlignement,idPooler,idNHL,statutJoueur,dateDebut,dateFin,pointsActuels
0,1,gab,8471675,Alignement,2020-11-26,2020-12-07,0
1,2,gab,8478445,Alignement,2020-10-28,2020-11-14,0
2,3,hub,8477492,Alignement,2020-09-28,2020-11-23,0
3,4,hub,8480800,Réserve,2020-11-28,2020-12-27,0
4,5,hub,8479394,Alignement,2019-11-25,2020-01-04,0
5,6,cle,8478403,Alignement,2019-09-25,2019-11-20,0
6,7,cle,8470966,Réserve,2020-10-26,2020-11-22,0
7,8,cle,8479496,Alignement,2020-10-30,2020-11-24,0
8,9,hub,8478445,Alignement,2020-05-20,2020-10-27,0

In [1]:
conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')
dfJoueurs = pd.read_sql("SELECT * FROM JOUEURS", conn)
dfJoueurs

     idNHL idHockeyRef prenomJoueur  nomJoueur position  salaireActuel
0  8470966   giordma01         Mark   Giordano        D        6000000
1  8471675   crosbsi01       Sidney     Crosby        A        8700000
2  8477492   mackina01       Nathan  Mackinnon        A        6300000
3  8478403   eicheja01         Jack     Eichel        A       10000000
4  8478445   barzama01         Matt     Barzal        A        7000000
5  8479394    hartca01       Carter       Hart        G         790000
6  8479496   rittida01        David    Rittich        G        3000000
7  8480800   hughequ01        Quinn     Hughes        D         894167