In [109]:
conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')
dfFac = pd.read_sql("SELECT Game_Id, Date, Description FROM PBP WHERE Event == 'FAC' AND Period == '1' AND Seconds_Elapsed == '0'", conn)
dfFac[['gagneMAJ', 'Reste']] = dfFac.Description.str.split(" won",expand=True,)
dfFac[['Année', 'Reste', 'Reste2']] = dfFac.Date.str.split("-",expand=True)
dfFac = dfFac.drop(["Description", "Reste2"], axis=1)
s = pd.to_numeric(dfFac["Année"])
dfFac["Année"] = s
r = pd.to_numeric(dfFac["Reste"])
dfFac["Reste"] = r
dfFac["debutSaison"] = r.ge(9)
dfFac["SaisonTempo"] = s * dfFac["debutSaison"]
st = dfFac["SaisonTempo"]
dfFac["finSaison"] = st.eq(0)
dfFac["SaisonTempo2"] = (s - 1) * dfFac["finSaison"]
dfFac["Saison"] = dfFac["SaisonTempo"] + dfFac["SaisonTempo2"]
dfFac["Saison"] = dfFac["Saison"].apply(str)
dfFac = dfFac.drop(["Reste", "Année", "debutSaison", "SaisonTempo", "finSaison", "SaisonTempo2"], axis=1)
dfFac["IdMatch"] = dfFac["Saison"] + "0" + dfFac["Game_Id"] 
dfFac

     Game_Id        Date gagneMAJ Saison     IdMatch
0      20001  2019-10-02      TOR   2019  2019020001
1      20002  2019-10-02      WSH   2019  2019020002
2      20003  2019-10-02      VAN   2019  2019020003
3      20004  2019-10-02      VGK   2019  2019020004
4      20005  2019-10-03      FLA   2019  2019020005
...      ...         ...      ...    ...         ...
4065   20154  2021-02-02      STL   2020  2020020154
4066   20156  2021-02-02      CGY   2020  2020020156
4067   20158  2021-02-02      MIN   2020  2020020158
4068   20161  2021-02-02      ANA   2020  2020020161
4069   20157  2021-02-02      EDM   2020  2020020157

[4070 rows x 5 columns]

In [122]:
dfVic = pd.read_sql("SELECT Game_Id, Date, Event, Away_Team, Home_Team, Away_Score, Home_Score FROM PBP WHERE Event == 'GEND'", conn)
dfVic["diff"] = dfVic["Away_Score"] - dfVic["Home_Score"]
w = dfVic["diff"]
dfVic["awayVic"] = w.ge(0)
dfVic

,Game_Id,Date,Event,Away_Team,Home_Team,Away_Score,Home_Score,diff,awayVic
0,20001,2019-10-02,GEND,OTT,TOR,3,5,-2,False
1,20002,2019-10-02,GEND,WSH,STL,3,2,1,True
2,20003,2019-10-02,GEND,VAN,EDM,2,3,-1,False
3,20004,2019-10-02,GEND,S.J,VGK,1,4,-3,False
4,20005,2019-10-03,GEND,FLA,T.B,2,5,-3,False
...,...,...,...,...,...,...,...,...,...
4063,20154,2021-02-02,GEND,ARI,STL,3,4,-1,False
4064,20156,2021-02-02,GEND,CGY,WPG,2,3,-1,False
4065,20158,2021-02-02,GEND,MIN,COL,1,2,-1,False
4066,20161,2021-02-02,GEND,ANA,L.A,3,1,2,True
4067,20157,2021-02-02,GEND,OTT,EDM,2,4,-2,False

In [124]:
def getGagnant():
    if df["awayVic"]:
        return df["Away_Team"]
    else:
        return df["Home_Team"]

dfVic.assign(getGagnant())
dfVic

NameError: name 'df' is not defined