In [30]:
json.loads(jsonPoolers)["data"]

[{'index': 0,
  'Id': 'gab',
  'Nom': 'Gabriel',
  'Équipe': 'Tropics',
  'Abbréviation': 'TRO',
  'Score': 0},
 {'index': 1,
  'Id': 'cle',
  'Nom': 'Clément',
  'Équipe': 'Rocket',
  'Abbréviation': 'ROC',
  'Score': 0},
 {'index': 2,
  'Id': 'hub',
  'Nom': 'Hubert',
  'Équipe': 'Patriotes',
  'Abbréviation': 'PAT',
  'Score': 0}]

In [7]:
conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')

In [8]:
dfPoolers = pd.read_sql("SELECT * FROM POOLERS", conn)

In [9]:
dfPoolers

    Id      Nom     Équipe Abbréviation  Score
0  gab  Gabriel    Tropics          TRO      0
1  cle  Clément     Rocket          ROC      0
2  hub   Hubert  Patriotes          PAT      0

In [59]:
jsonPoolers = dfPoolers.to_json("C:/dev/pool-de-hockey/src/data/poolers.json", orient = "table")

In [1]:
#code de backup
#"C:/dev/pool-de-hockey/src/data/poolers.json"
#parsed.to_json(, orient = "table")
#parsed = json.loads(jsonPoolers)["data"]
#parsed