In [1]:
conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')

#fonction qui crée une df du game log d'un gardien
def logGardien(idNHL):
    jsonJoueur = requests.get("https://statsapi.web.nhl.com/api/v1/people/" + idNHL + "/stats?stats=gameLog&season=20202021").json()
    df = pd.json_normalize(jsonJoueur["stats"][0]["splits"])
    gardienLogs = df[["season", "date", "isWin", "stat.shutouts"]]
    gardienLogs["gardien"] = idNHL
    return gardienLogs

#générer la liste de tous les gardiens de la table JOUEURS 
dfGardiens = pd.read_sql("SELECT idNHL FROM JOUEURS WHERE position == 'G'", conn)
gardiens = dfGardiens["idNHL"].apply(str)
listGardiens = gardiens.values.tolist()

#créer une df vide pour plus tard append le return de logGardien(idNHL) 
vraisCol = ["season", "date", "isWin", "stat.shutouts", "gardien"]
gameLogsG = pd.DataFrame(columns=vraisCol)
gameLogsG = gameLogsG.fillna(0)

#itérer logGardien(idNHL) à la liste des gardiens de la table JOUEURS et sauvegarder les résultats à gameLogsG
for i in listGardiens:
    try:
        gardienLogs = logGardien(i)
    except:
        print("fausse alarme (espoir) " + i)
    gameLogsG = gameLogsG.append(gardienLogs)
gameLogsG

fausse alarme (espoir) 8482137
fausse alarme (espoir) 8481519

      season        date  isWin stat.shutouts  gardien
0   20202021  2021-02-08   True             0  8475883
1   20202021  2021-02-06   True             0  8475883
2   20202021  2021-02-04   True             0  8475883
3   20202021  2021-01-30  False             0  8475883
4   20202021  2021-01-28   True             0  8475883
5   20202021  2021-01-26   True             0  8475883
6   20202021  2021-01-22   True             0  8475883
7   20202021  2021-01-20  False             0  8475883
8   20202021  2021-01-18   True             0  8475883
9   20202021  2021-01-15  False             0  8475883
10  20202021  2021-01-13   True             0  8475883
0   20202021  2021-01-17  False             0  8478492
1   20202021  2021-01-14   True             0  8478492
0   20202021  2021-02-07   True             0  8479394
1   20202021  2021-02-03  False             0  8479394
2   20202021  2021-01-30   True             0  8479394
3   20202021  2021-01-28   True             0  8479394
4   20202021  2021-01-23  False             0  8479394
5   20202021  2021-01-21  False             0  8479394
6   20202021  2021-01-18  False             0  8479394
7   20202021  2021-01-15   True             0  8479394
8   20202021  2021-01-13   True             0  8479394
0   20202021  2021-02-02  False             0  8479496
1   20202021  2021-01-28  False             0  8479496
0   20202021  2021-02-05   True             0  8476883
1   20202021  2021-02-03   True             0  8476883
2   20202021  2021-02-01   True             0  8476883
3   20202021  2021-01-30   True             0  8476883
4   20202021  2021-01-28  False             0  8476883
5   20202021  2021-01-23  False             0  8476883
6   20202021  2021-01-21   True             0  8476883
7   20202021  2021-01-15   True             0  8476883
8   20202021  2021-01-13   True             0  8476883
0   20202021  2021-02-08  False             0  8478048
1   20202021  2021-02-04   True             0  8478048
2   20202021  2021-02-01   True             0  8478048
3   20202021  2021-01-28   True             0  8478048
4   20202021  2021-01-24  False             0  8478048
5   20202021  2021-01-22  False             0  8478048
6   20202021  2021-01-19  False             0  8478048
7   20202021  2021-01-14  False             0  8478048
0   20202021  2021-02-08  False             0  8478048
1   20202021  2021-02-04   True             0  8478048
2   20202021  2021-02-01   True             0  8478048
3   20202021  2021-01-28   True             0  8478048
4   20202021  2021-01-24  False             0  8478048
5   20202021  2021-01-22  False             0  8478048
6   20202021  2021-01-19  False             0  8478048
7   20202021  2021-01-14  False             0  8478048
0   20202021  2021-02-08  False             0  8478048
1   20202021  2021-02-04   True             0  8478048
2   20202021  2021-02-01   True             0  8478048
3   20202021  2021-01-28   True             0  8478048
4   20202021  2021-01-24  False             0  8478048
5   20202021  2021-01-22  False             0  8478048
6   20202021  2021-01-19  False             0  8478048
7   20202021  2021-01-14  False             0  8478048

In [16]:
# save la df des game logs en une table SQL
gameLogsG.to_sql("GARDIENS", conn, if_exists="replace", index=False, dtype={"date": sqlalchemy.DateTime()})
# faire le update SQL

NameError: name 'sqlalchemy' is not defined