In [3]:
import pandas as pd

In [4]:
d = {"Id" : ["gab", "cle", "hub"], "Nom" : ["Gabriel", "Clément", "Hubert"], "Équipe" : ["Tropics", "Rocket", "Patriotes"], "Abbréviation" : ["TRO", "ROC", "PAT"], "Score" : [0, 0, 0]}
poolers = pd.DataFrame(data=d)
poolers.dtypes

Id              object
Nom             object
Équipe          object
Abbréviation    object
Score            int64
dtype: object

In [7]:
poolers

    Id      Nom     Équipe Abbréviation  Score
0  gab  Gabriel    Tropics          TRO      0
1  cle  Clément     Rocket          ROC      0
2  hub   Hubert  Patriotes          PAT      0