In [27]:
#fonctions de base

#créer la table DRAFT en SQL avec les choix au repêchage
conn = sqlite3.connect('C:/Users/huber/OneDrive/NHL/DbMatchs.db')
#choix = pd.read_csv("C:\dev\pool-de-hockey\src\data\listeChoix.csv", sep=";")
#choix.to_sql('DRAFT', conn, if_exists='replace', index = False)
def execSQL(sql, conn, write=False):
    c = conn.cursor()
    print(c.execute(sql))
    if write:
        conn.commit()
    else:
        print(c.fetchall())
    c.close()

df = pd.read_sql("SELECT * FROM ALIGNEMENTS WHERE dateFin == '2100-01-01'", conn)
jou = pd.read_sql("SELECT * FROM JOUEURS", conn)
df = df.merge(jou, how="inner", on="idNHL")
df = df[["idPooler", "idNHL", "statutJoueur", "position", "salaireActuel"]]
df.head()

  idPooler    idNHL statutJoueur position  salaireActuel
0      hub  8480871      Réserve        D       894167.0
1      hub  8480036   Alignement        D       894166.0
2      hub  8481524      Réserve        D       894167.0
3      hub  8478492      Réserve        G       925000.0
4      hub  8477934   Alignement        A      8500000.0

In [32]:
#pour vérif si les équipes respectent les conditions d'alignement par position
verAlign = df.groupby(["idPooler", "statutJoueur", "position"], as_index=False)["idNHL"].count()
is_alignement = verAlign["statutJoueur"] == "Alignement"
verAlign = verAlign[is_alignement]
verAlign

   idPooler statutJoueur position  idNHL
0       cle   Alignement        A      9
1       cle   Alignement        D      4
2       cle   Alignement        G      1
10      gab   Alignement        A      9
11      gab   Alignement        D      4
12      gab   Alignement        G      1
18      hub   Alignement        A      9
19      hub   Alignement        D      4
20      hub   Alignement        G      1

In [40]:
verActif = df.groupby(["idPooler", "statutJoueur"], as_index=False)["idNHL"].count()
verActif = verActif[(verActif.statutJoueur=="Alignement") | (verActif.statutJoueur=="Réserve")]
verActif

   idPooler statutJoueur  idNHL
0       cle   Alignement     14
3       cle      Réserve      4
4       gab   Alignement     14
7       gab      Réserve      6
8       hub   Alignement     14
10      hub      Réserve      5